<app-cabecalho></app-cabecalho>

<div *ngIf="errorMessage" class="error-message">
  <!-- {{ errorMessage }} -->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Falha no login: </strong>Verifique seu email/cpf e senha.
  </div>

</div>


<div class="login-container">
  <div class="login-box">
    <div class="button-row">
      <!-- Botões para escolher entre Profissional e Paciente -->
      <button class="right-button" (click)="selectOption('paciente')">Paciente</button>
      <button class="left-button" (click)="selectOption('profissional')">Profissional</button>
    </div>

    <form  *ngIf="opcao === 'paciente'">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Informe o email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" name="senha" placeholder="Informe a senha" [(ngModel)]="senha">
      </div>
      <button type="submit" (click)="entrar()" class="entrar-button">Entrar</button>

    </form>

    <form  *ngIf="opcao === 'profissional'">
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" class="form-control" id="cpf" aria-describedby="emailHelp" placeholder="Informe o cpf" name="cpf" [(ngModel)]="cpf">
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" placeholder="Informe a senha" name="senha" [(ngModel)]="senha">
      </div>
      <button type="submit" (click)="entrar()" class="entrar-button">Entrar</button>
    </form>

    <div class="custom-label">
      <a routerLink="/escolha-perfil">
        <label>Ainda não é um MenteTechie? Inscreva-se</label>
      </a>
    </div>
  </div>
</div>

