<app-cabecalho></app-cabecalho>
<div class="corpo">
  <div class="metade-texto">
    <h2>Nossa Missão</h2>
    <p>
      Cada século tem seu próprio desafio, antigamente havia casos de doenças virais e bacterianas, que chegaram alguns ao
      seu fim com a descoberta dos antibióticos. No entanto, no século XXI, apesar de ainda
      existir o medo de uma pandemia, este século não foi marcado por doenças virais e sim por
      doenças neuronais como depressão, ansiedade, Síndrome de Burnout, entre outras (HAN,
      2015).
    </p>
    <p>
      Pensando nisso, a plataforma foi criada com o objetivo de ajudar na aproximação entre profissionais da saúde e a
      população, através da disponibilização de atendimento psicológico online ou presencial
      por profissionais da saúde.
    </p>
  </div>
  <div class="metade-imagem">
    <img src="../../../assets/zen.jpg" class="img-fluid" alt="Imagem">
  </div>
</div>
