@import "~@fortawesome/fontawesome-free/css/all.css";

html, body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  margin-bottom: 5%;
}

.corpo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 2%;
  font-family: Sanchez;
  font-size: 25px;
  color: #333;
  background-color: #f3f3f3;
}

.container {
  width: 100%;
  padding: 0 20px; 
  box-sizing: border-box;
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
}

.metade-texto {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}




h2 {
    font-size: 28px;
    color: #008B8B;
    text-align: center;
    font-weight: bold;
}

.dica-quadrados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dica-quadrado {
    width: calc(33.33% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 768px) {
    .dica-quadrado {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .dica-quadrado {
        width: calc(100% - 20px);
    }
}

.botao {
    background-color: #008B8B;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
}

.botao:hover {
    background-color: #006666;
}

.espacamento {
    margin-bottom: 5%;
}

.descricaoDica {
    width: 100%;
    height: 150px;
    padding: 12px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s;
}

.descricaoDica:hover, .descricaoDica:focus {
    border-color: #008B8B;
    outline: none;
}

.mensagem {
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    max-width: 300px;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: 25px;
}

.mensagem-sucesso {
    background-color: #4CAF50;
    color: white;
}

.mensagem-erro {
    background-color: #f44336;
    color: white;
}

.dica-quadrado {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #008B8B;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    text-align: center;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
