<app-cabecalho-profissional></app-cabecalho-profissional>
<div class="corpo">
  <div class="metade-texto">
    <h2>Cadastre uma Dica de Saúde</h2>
    <div class="espacamento">
    <form [formGroup]="dicaForm" (ngSubmit)="onSubmit()">
      <div class="section">
        <div>
            <label for="descricaoDica">Descrição da Dica:</label>
            <input type="text" id="descricaoDica" formControlName="descricaoDica" class="descricaoDica">
          </div>
      </div>
      <button type="submit" class="botao">Enviar</button>
    </form>
    </div>

    <h2>Listagem de Dicas de Saúde</h2>

    <div class="dica-quadrados">
      <div *ngFor="let dica of listaDicas" class="dica-quadrado">
        <p>{{ dica.descricaoDica }}</p>
      </div>
    </div>
  </div>
</div>
