<app-cabecalho-paciente></app-cabecalho-paciente>
<div class="imagem">
<div class="pagina-inicial">
  <div class="banner">
    <h1>Bem-vindo, Paciente!</h1>
    <p>Encontre informações e recursos para melhorar a sua saúde.</p>
  </div>

  <div class="recursos">
    <h2>Recursos de Saúde</h2>
    <ul>
      <li><a href="/listar-profissionais">Agendar uma Consulta</a></li>
      <li><a href="/meus-dados-paciente">Perfil de Paciente</a></li>
      <li><a href="#">Histórico de Consultas</a></li>
    </ul>
  </div>
</div>
</div>