<app-cabecalho-paciente></app-cabecalho-paciente>

<div class="corpo">
  <div class="metade-texto">
    <h2>Avalie o Profissional</h2>

    <form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit()">
      <div class="section">
        <div>
          <label for="cpfProfissional">Selecione o Profissional:</label>
          <select id="cpfProfissional" formControlName="cpfProfissional" class="descricaoAvaliacao">
            <option *ngFor="let profissional of listaProfissionais" [value]="profissional.cpf">{{ profissional.nome }}</option>
          </select>
        </div>
      </div>
      <div class="section">
        <div>
          <label for="notaGeral">Nota Geral (0-10):</label>
          <input type="number" id="notaGeral" formControlName="notaGeral" class="descricaoAvaliacao">
        </div>
      </div>
      <div class="section">
        <div>
          <label for="notaPontualidade">Nota Pontualidade (0-10):</label>
          <input type="number" id="notaPontualidade" formControlName="notaPontualidade" class="descricaoAvaliacao">
        </div>
      </div>
      <div class="section">
        <div>
          <label for="notaAtendimento">Nota Atendimento (0-10):</label>
          <input type="number" id="notaAtendimento" formControlName="notaAtendimento" class="descricaoAvaliacao">
        </div>
      </div>
      <div class="section">
        <div>
          <label for="observacoes">Observações:</label>
          <textarea id="observacoes" formControlName="observacoes" class="descricaoAvaliacao"></textarea>
        </div>
      </div>
      <button type="submit" class="botao">Enviar Avaliação</button>
    </form>
    <div class="mensagem mensagem-sucesso" *ngIf="sucesso">
      Avaliação enviada com sucesso!
    </div>
    
    <div class="mensagem mensagem-erro" *ngIf="erro">
      {{ erro }}
    </div>
    

  </div>
</div>
