/* Estilos para o corpo da página */
.corpo {
  display: flex;
  justify-content: center;
  background-color: #fff; /* Fundo branco */
  height: 100vh;
  margin: 0;
  overflow: hidden; /*para ir o cinza até o final*/
  margin-bottom: 50px;
  height:  100%; /* 50% da altura da viewport */

}

/* Estilos para a metade da imagem */
.metade-imagem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metade-imagem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Estilos para a metade do texto */
.metade-texto {
  flex: 1;
  padding: 20px;
  font-family: "Sanchez", sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #f3f3f3;
  overflow-y: auto;
}

/* Estilos para as seções */
.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 24px;
  color: #008B8B;
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .corpo {
    flex-direction: column;
    height: auto;
  }

  .metade-texto {
    font-size: 24px;
  }
}
