<div class="corpo">
  <div class="metade-texto">
    <h4>Quero ser um profissional da saúde na plataforma, como funciona?</h4>
    <p>
      Para se tornar um profissional da saúde em nossa plataforma, você deve estar formado
      na área de saúde mental.
    </p>
    <h4>Qual o primeiro passo?</h4>
    <p>Se cadastrar na plataforma.</p>

    <h4>Qual tipo de modalidade posso oferecer?</h4>
    <p>Modalidade presencial e remota. O profissional irá disponibilizar a agenda dos dias que
      poderá fazer o atendimento, e a forma como irá acontecer(presencial ou remoto), fica a desejo
      do paciente qual irá escolher.
    </p>

    <h4>Como funciona o atendimento remoto?</h4>
    <p>A modalidade remota irá funcionar por meio de um link que o paciente e profissional irão receber para uma chamada de vídeo.
    </p>

    <h4>Como funciona o atendimento presencial?</h4>
    <p>A profissional irá disponibilizar o endereço de seu consultorio e o paciente irá receber o endereço ao marcar a consulta.
    </p>

    <h4>Valores</h4>
    <p>O profissional deverá disponibilizar o valor da consulta para que o paciente se informe.
    </p>


  </div>
  <div class="metade-imagem">
    <img src="../../../assets/zen.jpg" alt="Imagem">
  </div>
</div>
