<div class="modal">
  <div class="modal-content">
    <h2>Informações pagamento</h2>
    <ul>
      <ng-container *ngIf="linkPagamento; else pixInfo">
        <li>
          <div class="agenda-block">
            <div class="agenda-info">
              <span>Link de Pagamento: {{ linkPagamento }}</span>
            </div>
          </div>
        </li>
      </ng-container>
      <ng-template #pixInfo>
        <li>
          <div class="agenda-block">
            <div class="agenda-info">
              <span>Chave Pix: {{ pix }}</span>
            </div>
          </div>
        </li>
      </ng-template>
      <button class="agenda-button" (click)="fechar()">Fechar</button>
    </ul>
  </div>
</div>
