

.corpo {
  display: flex;
  height:  100%; /* 50% da altura da viewport */
}

.metade-imagem, .metade-texto {
  flex: 1; /* Cada div ocupa metade da largura disponível */
  overflow: hidden; 
}

.metade-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.metade-texto {
  padding: 20px;
  box-sizing: border-box; 
}

.metade-texto {
  padding: 20px;
  font-family: "Sanchez";
  box-sizing: border-box; 
  font-size: 50px; 
  color: #008B8B; 
  text-align: center;
}

/* Media query para telas menores, ajuste conforme necessário */
@media (max-width: 768px) {
  .corpo {
    flex-direction: column; 
    height: auto; /* Altura automática para se ajustar ao conteúdo */
  }

  .metade-imagem, .metade-texto {
    flex: none; 
    width: 100%;
  }

  .metade-texto {
    font-size: 30px; /* Reduza o tamanho do texto para telas menores */
  }
}
