.fas {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .item-center {
    text-align: center;
  }
  
  .grey-color {
    color: grey;
  }
  
  .red-color {
    color: red;
  }
  
  .jitsi-container {
    background-color: #f3f3f3; /* Azul suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.jitsi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%; 
    height: 80%; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4); 
}
  