/* cadastro-esp-end.component.css */

.cadastro-esp-end-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.cadastro-esp-end-box {
  background-color: #F5F5F5;
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  position: relative;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: Sanchez;
}

.especialidade-options {
  display: flex;
  flex-direction: column;
}

.especialidade-options div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

label {
  margin-bottom: 0;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 8px;
}

.radio-buttons {
  display: flex;
  margin-bottom: 16px; /* Adicionado para dar algum espaço abaixo dos botões */
  align-items: flex-start; /* Alterado para flex-start */
}

.radio-buttons input {
  margin-right: 8px;
  margin-bottom: 20px;

}

.label-especialidade,
.label-tem-endereco {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-family: Sanchez;
}

.label-especialidade {
  margin-right: 30px;
}

.label-tem-endereco {
  margin-top: 10px;
}

.endereco-campos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  font-family: Sanchez;
}

.endereco-campos label,
.endereco-campos input {
  font-size: 18px;
}

.endereco-campos label {
  margin-bottom: 5px;
}

.endereco-campos input {
  padding: 8px;
  margin-bottom: 10px;
}

.botao {
  background-color: #9EC4BB;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao:hover {
  background-color: #82beb0;
}


.especialidade-button{
  background-color: #9EC4BB;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5%;
}

.especialidade-button {
  background-color: #82beb0;
}

.tematica-options {
  display: flex;
  flex-direction: column;
}

.tematica-options div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.tematica-button{
  background-color: #9EC4BB;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: 5%;
}

.tematica-button::hover {
  background-color: #82beb0;
}

.tematica-campos label {
  margin-bottom: 5px;
}

.tematica-campos input {
  padding: 8px;
  margin-bottom: 10px;
  padding-bottom: 10%;
}
