<header class="cabecalho ff-inter">
  <div class="cabecalho_completo">
    <a routerLink="/home">
      <img src="../../../assets/logo.png" class="img-fluid"  alt="Logo da sua empresa">
    </a>
    <div class="menu_principal">
      <nav>
        <ul class="menu">
          <li><a routerLink="/inicio" class="menu-item-btn">Inicio</a></li>
          <li><a routerLink="/minha consultas" href="#" class="menu-item-btn">Minhas Consultas</a></li>
          <li><a routerLink="/listar-profissionais" href="#" class="menu-item-btn">Profissionais</a></li>
          <li><a routerLink="/dicas-paciente"  class="menu-item-btn">Dicas de Saúde</a></li>
          <li><a routerLink="/meus-dados-paciente" class="menu-item-btn">Meus dados</a></li>
          <li><a routerLink="/sair" class="menu-item-btn">Sair</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
