<app-cabecalho-profissional></app-cabecalho-profissional>
<div class="imagem">
<div class="pagina-inicial">
  <div class="banner">
    <h1>Bem-vindo, Profissional!</h1>
    <p>Encontre informações e recursos para ajudar nossos pacientes.</p>
  </div>

  <div class="recursos">
    <h2>Recursos de Saúde</h2>
    <ul>
      <li><a href="/agenda-profissional">Cadastrar meu Horários</a></li>
      <li><a href="/dica-profissional">Cadastrar Dicas de Saúde</a></li>
      <li><a href="#">Histórico de Consultas</a></li>
    </ul>
  </div>
</div>
</div>