@import "~@fortawesome/fontawesome-free/css/all.css";
.agenda-button {
  background-color: #9EC4BB; 
  color: black; 
  padding: 15px 20px; 
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-family: Sanchez;
  font-size: 18px; 
}
.agenda-button:hover {
  background-color: #82beb0; 
}

.profissionais{
  padding-bottom: 5%;
}
