<app-cabecalho-profissional></app-cabecalho-profissional>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Relatos para Fins Educacionais</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" *ngFor="let relatorio of relatorios">
      <div class="card">
        <div class="card-body">
          <p class="card-text" *ngIf="relatorio.descricao.length > 70">
            {{ relatorio.descricao | slice: 0:70 }}...
          </p>
          <p class="card-text" *ngIf="relatorio.descricao.length <= 70">
            {{ relatorio.descricao }}
          </p>
          <button class="btn btn-primary" (click)="abrirModal(relatorio)">Detalhes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-educacional-modal
  *ngIf="isModalOpen"
  [relatorio]="relatorioModal"
  (fecharModalEvent)="fecharModal()"
></app-educacional-modal>
