.agenda-button {
  background-color: #9EC4BB; /* Cor de sua escolha para o botão "agenda" */
  color: black; /* Texto branco */
  padding: 15px 20px; /* Ajuste o tamanho do padding conforme necessário */
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  border: none;
  border-radius: 4px;
  font-family: Sanchez;
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}
.agenda-button:hover {
  background-color: #82beb0; /* Cor mais escura ao passar o mouse */
}

.profissionais{
  padding-bottom: 5%;
}
