<header class="cabecalho ff-inter">
  <div class="cabecalho_completo">
    <a routerLink="/home">
      <img src="../../../assets/logo.png" alt="Logo da sua empresa">
    </a>
    <div class="menu_principal">
      <nav>
        <ul class="menu">
          <li><a routerLink="/sobre" class="menu-item-btn">Sobre</a></li>
          <li><a href="#" class="menu-item-btn">Especialistas</a></li>
          <li><a routerLink="/sou-profissional"  class="menu-item-btn">Sou profissional</a></li>
          <li><a routerLink="/login" class="menu-item-btn">Olá, MenteTechies</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
