<header class="cabecalho ff-inter">
  <div class="cabecalho_completo">
      <img src="../../../assets/logo.png">
      <div classe="menu_principal">
          <nav>
              <ul class="menu">
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Especialistas</a></li>
              <li><a href="#">Sou profissional</a></li>
              <li><a href="https://www.google.com.br">Entrar</a></li>
              <li><a href="#">Olá, MenteTechies</a></li>
              </ul>
          </nav>
      </div>
  </div>

</header>
