<header class="cabecalho ff-inter">
  <div class="cabecalho_completo">
    <img src="../../../assets/logo.png" class="img-fluid"  alt="Logo da sua empresa">
    <div class="menu_principal">
      <nav>
        <ul class="menu">
          <li><a routerLink="/home-entrar-profissional" class="menu-item-btn">Inicio</a></li>
          <li><a routerLink="/minha consultas" href="#" class="menu-item-btn">Meus pacientes</a></li>
          <li><a routerLink="/agenda-profissional" href="#" class="menu-item-btn">Minha Disponibilidade</a></li>
          <li><a routerLink="/minha-agenda" href="#" class="menu-item-btn">Minha Agenda</a></li>
          <li><a routerLink="/dica-profissional"  class="menu-item-btn">Dicas de saúde</a></li>
          <li><a routerLink="/meus-dados-profissional" class="menu-item-btn">Meus dados</a></li>
          <li><a (click)="sair()" class="menu-item-btn">Sair</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
