<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="especialidade">
      <h2 data-cy="especialidadeDetailsHeading"><span jhiTranslate="mentalTechApp.especialidade.detail.title">Especialidade</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ especialidade.id }}</span>
        </dd>
        <dt><span jhiTranslate="mentalTechApp.especialidade.idEspecialidade">Id Especialidade</span></dt>
        <dd>
          <span>{{ especialidade.idEspecialidade }}</span>
        </dd>
        <dt><span jhiTranslate="mentalTechApp.especialidade.nomeEspecialidade">Nome Especialidade</span></dt>
        <dd>
          <span>{{ especialidade.nomeEspecialidade }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/especialidade', especialidade.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
