* {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Isso garante que o corpo da página tenha pelo menos 100% da altura da tela. */
}

main {
  flex: 1; /* Isso faz com que o conteúdo principal ocupe o espaço restante na tela. */
}

footer {
  background: linear-gradient(to right, #008B8B, #4C7E6B);
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  background: linear-gradient(to right, #008B8B, #4C7E6B);
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-top: auto;
}

  .TextoCopyright {
    grid-area: TextoCopyright;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex; /* Adicionando esta propriedade */
    justify-content: center; /* Adicionando esta propriedade */
    align-self: center;
  }

  img{
    width: 15%;
    float: right;
  }
  .TextoCopyright {
    grid-area: TextoCopyright;
    align-items: center;
    align-content: center;
  }

  .LogoRodape {
    justify-self: right;
    grid-area: LogoRodape;
  }

  footer small {
    color: white;
  }

  @media (max-width: 600px) {
    .cabecalho .logo {
      padding: 10rem;
    }

    .cabecalho p {
      font-size: 1.5rem
    }
  }

  @media (max-width: 800px) {
    footer {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
